*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

#canvas {
    box-shadow: 0 0 4px 2px #000;
}

.toolbox {
    background-color: #000;
    width: 805px;
    padding: 0.5rem;
    display: flex;
}

.toolbox > * {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0.25rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.toolbox > *:last-child {
    margin-left: auto;
}


