*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    padding: 1rem;
}

#canvas {
    border: 1px solid #000;
}

.toolbox {
    background-color: steelblue;
    width: 800px;
    padding: 0.5rem;
    display: flex;
}

.toolbox > * {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0.25rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.toolbox > *:last-child {
    margin-left: auto;
}


/************************ responsiveness ****************************/
@media(max-width : 380px) {
    .toolbox > * {
        height: 40px;
        width: 40px;
        font-size: 1.25rem;
    }
}